

#menu_container{

    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: 30px;
    background-color: var(--transparent-color);
    backdrop-filter: blur(200px);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    gap: 0px;
    z-index: 2;
}


.clickable-icon{
    border-radius: 4px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    position: relative;
}

.clickable-icon:hover{
    background-color: var(--menu-heighlight);
}

#menu_container svg{
    fill: var(--text-color);
}

#menu_container h5{
    color: var(--text-color);
    pointer-events: none;
}

.apple-logo{
    width: 18px;
    height: 18px;
    transform: translateY(-1px);
    pointer-events: none; 
}

.menu-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    height: 100%;
    max-width: 150px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 100ms;

}
.menu-item-title{
    font-weight: 400;
    font-size: 14px;

}
.menu-item-title.title{
    font-weight: 900;
    font-size: 14px;
}


.menu-item:hover{
    background-color: var(--menu-heighlight);

}
.right-side{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    margin-right: 20px;
    gap: 5px;
    font-weight: 400;
    height: 100%;
}

.control-center-icon{
    width: 18px;
    height: 18px;
}

.sub-menu{

    position: absolute;
    padding: 5px;
    top: 32px;
    width: 300px;
    background-color: var(--menu-background);
    border-radius: 10px;
    left: 0;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    gap: 3px;
    flex-direction: column;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.11), 0px 5px 10px rgba(0, 0, 0, .3);
    backdrop-filter: blur(30px);
    z-index: 2;
}

.sub-menu-item{
    position: relative;
    height: 25px;
    border-radius: 5px;
    width: calc(100% - 10px);
    display: flex;
    align-items: center;
    padding-left: 10px;

}

.sub-menu-item h5{
    font-weight: 400;
    font-size: 13px;
    color: var(--text-color);
}

.sub-menu-item:hover{
    background-color: var(--primary-color);
}

.sub-menu-item:hover h5{
    color: white;
    pointer-events: none;
}

.menu-separator{

    width: calc(100% - 15px);
    height: 1px;
    background-color: var(--separator-color)

}

.control-center-container{

    width: var(--control-center-wdith);
    height: 400px;
    background-color: var(--very-transparent-color);
    top: 35px;
    position: absolute;
    right: 5px;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.068), 0px 0px 10px 3px rgba(0, 0, 0, .3);
    backdrop-filter: blur(100px);
    z-index: 2;

}

.control-center-container .widget{

    background-color: var(--soft-heighlight-color);
    border-radius: 10px;
    box-shadow:  0px 0px 1px 1px rgba(0, 0, 0, 0.068),
    0px 0px 10px 3px rgba(0, 0, 0, 0.144);
    border: 1px solid rgba(255, 255, 255, .1);

}

.control-center-container .widget.connection{

    width:  calc(var(--control-center-wdith) / 2);
    display: flex;
    align-items: center
    

}

.widget.connection .divide.vertical{

    justify-content: center;

}

.control-center-container .widget.night{

    height: calc(var(--control-center-wdith) / 4.5 - (5px));
    width: calc(var(--control-center-wdith) / 2 + (5px));
    display: flex;
    align-items: center;
    gap: 10px;
}

.widget.night .divide.vertical {

    justify-content: center;
    gap: 1px;

}



.control-center-container .widget.theme{

    height: calc(var(--control-center-wdith) / 4.5);
    width: 100%;

}

.control-center-container .widget.share{

    height: 100%;
    width:100%;

}

.control-center-container .widget.display{

    width: calc(100% - 22px);
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0 10px;
}

.widget.display h5{
    height: 10px;
    margin: 0;
    color: var(--text-color);
}

.widget-slider{
    position: relative;
    width: calc(100% - 40px)

}

.right-icon {

    background-color: var(--menu-heighlight);
    height: 30px;
    width: 30px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.right-icon-svg{

    width: 20px;
    height: 20px;
    

}

.widget.display .divide.horizonal{

  
}

.widgets-icon {

    width: 20px;
    height: 20px;
    fill: white;

}

.secondary-icon-container{

    width: 30px;
    height: 30px;
    background-color: #5F5BE6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-left: 10px;

}

.primary-icon-container{

    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;

}

.control-center-row{

    position: relative;
    display: flex;
    align-items: center;
    height: 13px;
    padding: 10px 10px;
    gap: 15px;

}

.control-center-row .text{



}

.primary-text{
    color: var(--text-color);
    margin: 0;
    font-size: 14px;
}

.secondary-text{
    color: var(--text-color);
    opacity: .5;
    margin: 0;

}

.primary-text-multiline{
    color: var(--text-color);
    margin: 0;
    font-size: 14px;
}
